
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Arial', sans-serif;
    width: 100%;
    background:#ffffff;
	height:80%;
}

h1,h3,h4,h6{
	font-family: Arial, sans-serif;
}



p{
	font-family: Arial, sans-serif;
	
}

.menu-1 {
   padding: 33px 55px;
   margin: 33px 52px;
   background-color: #ffffff;
   box-shadow: 0px 1px 2px rgba( 0, 0, 0, 0.1);
   border-radius: 8px;
   user-select: none;
}

.menu-1 a {
   margin: 8px 18px;
   padding: 5px 18px;
   border-radius: 6px;
   background: #d3d3d3;
   color: #000000;
   font-weight: 500;
   font-size: 16px;
   text-decoration: none;
}

.border{ /*--margin 0 auto*/
  background:#FFFFFF;
  margin-bottom: 1em;
  
}

#info-two{
	border: 1px solid black;
}

.footer {
   position: relative;
   padding: 20px;
   color: #ffffff;
   background-color: #30323D;
   text-align: center;
}

.footer-1 {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

.main_form_container{
    /*width: 30%;*/
    margin: 0 auto;
}
.search-container{
	float:right;
	
}
.search-container button {
  float:right;
  padding: 6px 10px;
  margin-top: 3px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-container button:hover {
  background: #ccc;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 3px;
  font-size: 17px;
  border: 1px black;
 
}

.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  margin-left: 70px;
 
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  padding-left: 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Arial', Helvetica, sans-serif;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid #d3d3d3;
}

.topnav a.actinav{
  border-bottom: 3px solid #000000;
}


/*--Banner image button (shop now)--*/
	
.slideshow-container .btn{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 18px;
  padding: 16px 28px;
  border: none;
  cursor: pointer;
  text-align: center;	
}

.container .mx-auto .row .btn{
  position: absolute;
  top: 85%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  padding: 16px 28px;
  width:230px;
  border: none;
  cursor: pointer;
  text-align: center;	
}

.container .mx-auto .row .btn:hover {
  text-decoration: underline;
}

.container .row{
	margin-left: 40px;
	
}

.slideshow-container .btn:hover {
  background-color: #ffffff;
}


h5{
	text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
}
/*-- Heading 1 and Heading 2 style start here --*/
h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 50px 0;
    color: #000000;
    letter-spacing: 0x;
}

.h2_container{
	width:100%;
	border : 0px solid;	
}

.custom_h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
	font-family: 'Arial', Helvetica, sans-serif;
    margin: 20px 80px;
    color: #000000;
    letter-spacing: 0x;
	float: left;
}

/*
.tbl_shopbycategory{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width:80%;
  height:80%; 
  padding:10px;
  border-spacing: 10px;
  border-collapse: separate;
}

.tbl_shopbycategory td{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;	
  height: 190%;
  border: 1px solid black;
  display:block;
}
Grid
.grid-container {
  margin-left: auto;
  margin-right: auto;
  width:70%;
  border: 1px solid black;
  display: grid;
  gap: 20px 30px;
 
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  padding: 10px;
}

.grid-item {
  background-color:#ffffff;
  border: 1px solid black;
  padding: 5px;
  height: 70%;
  font-size: 30px;
  text-align: center;
}
--*/



.flex-container {
  display: flex;
  background-color: #ffffff;
  border: 1px solid black;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.flex-container > div {
  background-color: #ffffff;
  margin: 50px;
  padding: 3px;
  font-size: 30px;
    
}



/*-- Heading 1 and Heading 2 style end here --*/

.icon-w3 i {
    color: #ffffff;
    font-size: 16px;
}

.icon-w3 {
    display: inline-block;
	color:#ffffff;
    position: absolute;
    right: 12px;
    bottom: 43px;
}

.icon {
	 color:white;
	 cursor: pointer;
     position:relative;	 
	 float: right;
	 margin-top:0.9em;
	 margin-right:1em;
}

.material-icons{
	 color:white;
	 cursor: pointer; 
}

form {
    margin: 0 auto;
    width: 100%;
}

/*--Form input textbox start here--*/
.input_text_container one,two{
	position:relative;
}

.input_text_container_one input[type="text"]{
    outline: none;
    font-size: 15px;
    color: #000000;
    padding: 15px 40px 12px 10px;
    width: 87%;
    border: 1px solid #DCCBCF;
    -webkit-appearance: none;
    margin-bottom: 24px;
    background: transparent;
	font-family: 'Open Sans', sans-serif;
}


.input_text_container_two input[type="password"] {
    outline: none;
    font-size: 15px;
    color: #000000;
    padding: 15px 40px 12px 10px;
    width: 87%;
    border: 1px solid #DCCBCF;
    -webkit-appearance: none;
    margin-bottom: 24px;
    background: transparent;
	font-family: 'Open Sans', sans-serif;
}

/*-----------Register_Form.html sperated style--------------*/
.inputtxt_verification_container_one input[type="text"]{
	outline: none;
    font-size: 15px;
    color: #000000;
    padding: 15px 40px 12px 10px;
    width: 87%;
    border: 1px solid #DCCBCF;
    -webkit-appearance: none;
    margin-bottom: 24px;
    background: transparent;
	font-family: 'Open Sans', sans-serif;
}
.inputtxt_verification_container_two input[type="password"]{
	outline: none;
    font-size: 15px;
    color: #000000;
    padding: 15px 40px 12px 10px;
    width: 87%;
    border: 1px solid #DCCBCF;
    -webkit-appearance: none;
    margin-bottom: 24px;
    background: transparent;
	font-family: 'Open Sans', sans-serif;
}
.inputtxt_verification_container_three input[type="text"]{
	outline: none;
    font-size: 15px;
    color: #000000;
    padding: 15px 40px 12px 10px;
    width: 87%;
	 margin-bottom: 5px;
    border: 1px solid #DCCBCF;
    -webkit-appearance: none;
    background: transparent;
	font-family: 'Open Sans', sans-serif;
}

/*-----------Verification.php sperated file end here--------------*/	

/*-----------Verification.php sperated file start here--------------*/
.input_verify_container_one input[type="password"]{
	outline: none;
    font-size: 15px;
    color: #000000;
    padding: 15px 40px 12px 10px;
    width: 87%;
    border: 1px solid #DCCBCF;
    -webkit-appearance: none;
    margin-bottom: 24px;
    background: transparent;
	font-family: 'Open Sans', sans-serif;
}

/*-----------Register_Form.html sperated file end here--------------*/


input[type="text"]:focus {
    border: 1px solid #000000;
	transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
}

input[type="password"]:focus {
    border: 1px solid #000000;
	transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
}

.from_sub_w3 input[type="text"] {
    outline: none;
    font-size: 15px;
    color: #ffffff;
    padding: 15px 40px 12px 10px;
    width: 87%;
    border: 1px solid #FFFFFF;
    -webkit-appearance: none;
    margin-bottom: 24px;
    background: transparent;
	font-family: 'Open Sans', sans-serif;
}

input[type="submit"] {
    color: #ffffff;
	outline:none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
	/*padding: 9px 38px;*/
	font-family: 'SC Sans Web Regular',sans-serif;
	margin-top: 10px;
	width: 410px;
    height: 60px;
    line-height: 1em;
    font: initial;
    font-family: inherit;
    font-size: 12px;
    font-weight: lighter;
    background-color: #6ac075;
    border: 1px solid #6ac075;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.input_text_label{ /*--margin:7px 10px 3px 3px;*/
	 color:#000000;
	 font-size:13px;
	 margin:4px; 
     letter-spacing:0.5px;	 
}

